body {
    background-color: #F2ECFF;
    margin: 0;
    padding: 0;
}

.birthday {
    width: 2260px;
    height: 2612.78px;
    position: relative;
}

.Rectangle1 {
    width: 2170.65px;
    height: 159.43px;
    top: 0px;
    position: relative;
    background: white;
}

.happy {
    width: 589.12px;
    height: 197.48px;
    left: 310.65px;
    top: 626.62px;
    position: absolute;
    transform: rotate(-7.32deg);
    transform-origin: 0 0;
}

.bday {
    width: 975.53px;
    height: 220.43px;
    left: 981.06px;
    top: 542.36px;
    position: absolute;
    transform: rotate(5.71deg);
    transform-origin: 0 0;
}

.zero {
    width: 173.78px;
    height: 211.20px;
    left: 1118.61px;
    top: 281.68px;
    position: absolute;
    transform: rotate(-7.13deg);
    transform-origin: 0 0;
}

.film1 {
    width: 818.60px;
    height: 1227.90px;
    left: 0px;
    top: 1034.30px;
    position: absolute;
    transform: rotate(-8.49deg);
    transform-origin: 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.eight_ {
    width: 166.45px;
    height: 202.41px;
    left: 1331.67px;
    top: 304.50px;
    position: absolute;
    transform: rotate(14.63deg);
    transform-origin: 0 0;
}

.eight {
    width: 170.19px;
    height: 207.10px;
    left: 1669.29px;
    top: 327.27px;
    position: absolute;
    transform: rotate(19.07deg);
    transform-origin: 0 0;
}

.one {
    width: 167.63px;
    height: 204.02px;
    left: 1477.04px;
    top: 298.93px;
    position: absolute;
    transform: rotate(2.79deg);
    transform-origin: 0 0;
}

.lock {
    width: 452.14px;
    height: 452.14px;
    left: 247.60px;
    top: 235.47px;
    position: absolute;
    transform: rotate(-16.49deg);
    transform-origin: 0 0;
}

.makeawish {
    width: 334.23px;
    height: 54.85px;
    left: 700.25px;
    top: 398.31px;
    position: absolute;
}

.cake {
    width: 1808.03px;
    height: 1653.73px;
    left: 220.43px;
    top: 557.22px;
    position: absolute;
}

.film2 {
    width: 784.32px;
    height: 1176.99px;
    left: 1492.97px;
    top: 1297.97px;
    position: absolute;
    transform: rotate(12.05deg);
    transform-origin: 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.makeawish:hover,
.zero:hover,
.eight_:hover,
.one:hover,
.eight:hover {
    transform: translateY(-5px); 
    transition: transform 0.2s ease;
}