body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

img {
    position: absolute;
}

#september {
    width: 90%;
    height: auto;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#computer {
    width: 80%;
    height: auto;
    top: 35%;
    left: 13%;
    z-index: 2;
}

#memories {
    width: 30%;
    height: auto;
    top: 35%;
    left: 30%;
    z-index: 0;
}

#notebook {
    width: 30%;
    height: auto;
    top: 35%;
    left: 63%;
    z-index: 3;
}

#objects {
    width: 25%;
    height: auto;
    top: 50%;
    left: 0%;
    z-index: 4;
}

#box {
    width: 23%;
    height: auto;
    top: 86%;
    left: 67%;
    z-index: 5;
}
