body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;

}

.menu{
    display: block;
    width: 100%;
    height: auto;
}
.docs {
    position: fixed;
    bottom: -80px;
    left: 0;
    right: 0;
    overflow: hidden;
}

.docs {
    width: 950px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure it takes up the full width available */
    margin: 0 auto; /* Center horizontally */
    position: absolute; /* Position within .docs-container */
    left: 0;
    right: 0;
    top: 62%; /* Center vertically */
    opacity: 0; /* Start invisible */
    transition: opacity 0.3s ease-in-out; /* Smooth transition for opacity */

}

.docs:hover {
    opacity: 1; /* Show the docs icon on hover */
}
.entries-icon {
    width: 650px !important; /* Adjust the size as needed */
    height: auto !important; /* Maintain aspect ratio */
    position: absolute; /* Fix the position */
    top: 140px; /* Adjust the top distance */
    left: 60px; /* Adjust the right distance */
}
.entries-buttons {
    display: flex;
    flex-direction: row; /* Display buttons in a row */
    z-index: 1;
    margin: 100px 0;
}

.entries-buttons a {
    text-decoration: none;
    margin: 25px; /* Adjust spacing for all buttons to be the same */
}

.entries-buttons img {
    width: 73px; /* Adjust the size of the buttons */
    height: auto; /* Maintain aspect ratio */
}

/* Adjust the location of the buttons */
.entries-buttons a:nth-child(1) {
    margin-left: 160px; /* Adjust the left margin for Button 1 */
    margin-top: 19px;
}

.entries-buttons a:nth-child(2) {
    margin-left: 28px; /* Adjust the left margin for Button 1 */
}

.entries-buttons a:nth-child(3) {
    margin-left: 27px;
    margin-top: 30px;

}

.entries-buttons a:nth-child(4) {
    margin-left: 45px;
    margin-top: 20px;
}

.entries-buttons a:nth-child(4) img {
    width: 38px; 
    height: auto; 
}

.entries-buttons a:nth-child(5) {
    margin-left: -450px;
    margin-top: 140px;
}
.entries-buttons a:nth-child(5) img {
    width: 64px; 
    height: auto; 
}
.entries-buttons a:nth-child(6) {
    margin-left: 34px;
    margin-top: 147px;
}
.entries-buttons a:nth-child(6) img {
    width: 64px; 
    height: auto; 
}
.entries-buttons a:nth-child(7) {
    margin-left: 33px;
    margin-top: 155px;
}.entries-buttons a:nth-child(8) {
    margin-left: 27px;
    margin-top: 150px;
}.entries-buttons a:nth-child(9) {
    margin-left: -474px;
    margin-top: 277px;
}.entries-buttons a:nth-child(10) {
    margin-left: 27px;
    margin-top: 279px;
}.entries-buttons a:nth-child(11) {
    margin-left: 27px;
    margin-top: 280px;
}.entries-buttons a:nth-child(12) {
    margin-left: 32px;
    margin-top: 272px;
}
.entries-buttons a:nth-child(12) img {
    width: 64px; 
    height: auto; 
}