body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header{
	z-index: 100;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5vh;
  top: 1vh;
  position: relative;
  font-family: roc-grotesk,sans-serif;
  font-weight: 700;
  font-style: normal;
}

a{
  position: relative;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover{
  cursor: alias;
  background-color: #b442fd;
  color: #ffffff;
  border-radius: 2px;
}

.text {
    position: absolute;
    top:3.5%; 
    left: 60%; 
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    font-size: 200px;
    font-family: 'Angkor', cursive;
    color: #ffffff;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.key {
    position: absolute;
    top: 300px; 
    right: 370px;
    width: 300px;
    height: auto;
    z-index: 4;
    transform: rotate(11deg);

}

.finder {
    position: absolute;
    bottom: 150px;
    right: 150px;
    width: auto;
    height: auto;
    z-index: -7;
}

.texts {
    position: absolute;
    display: block;
    bottom: 250px;
    right: 350px;
}

.texts img {
    width: 550px; /* Adjust the width as needed */
    height: auto; /* Let the height adjust proportionally */
}
.main{
    margin: 10% 0 0 36%;
    position: relative;
    width: 25%;
}

.behind{
    display: block;
    width: 103.2%;
    height: auto;
}
.PaymentTerminal{
    position: relative;
    height: 100%;
    width: 102%;
}
.receipt{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 97%;
    height: 0;
    transition: 4.5s ease;
}
#terminal {
    z-index: 1; 
}

#receipt {
    z-index: 0; 
}

.main:hover .receipt{
height: 180%;
 
}
.GIF {
    position: absolute;
    top: 450px;
    left: 23%;
    transform: translateX(-50%);
}

@media (max-width: 1100px){ 
    .text {
        position: absolute;
        top:3.5%; 
        left: 60%; 
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: -1;
        font-size: 200px;
        font-family: 'Angkor', cursive;
        color: #ffffff;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }
    
    .key {
        position: absolute;
        top: 200px; 
        right: 170px;
        width: 250px;
        height: auto;
        z-index: 4;
        transform: rotate(11deg);
    
    }
    
    .finder {
        position: absolute;
        bottom: 80px;
        right: 100px;
        width: 380px;
        height: auto;
    }
    
    .texts {
        position: absolute;
        display: block;
        bottom: 380px;
        right: 200px;
    }
    
    .texts img {
        width: 400px; /* Adjust the width as needed */
        height: auto; /* Let the height adjust proportionally */
    }
    .main{
        margin: 10% 0 0 36%;
        position: relative;
        width: 25%;
    }
    
    .behind{
        display: absolute;
        width: 103.2%;
        height: auto;
    }
    .PaymentTerminal{
        position: relative;
        height: 100;
        width: 102%;
    }
    .receipt{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        width: 90%;
        height: 10%;
        transition: 4.5s ease;
    }
    #terminal {
        z-index: 1; 
    }
    
    #receipt {
        z-index: 0; 
    }
    
    .main:hover .receipt{
    height: 180%;
     
    }
    .GIF {
        position: absolute;
        top: 300px;
        left: 23%;
        transform: translateX(-50%);
    }

}