body {
    background-color: #F2ECFF;
    margin: 0;
    padding: 0;
}
header{
	z-index: 100;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5vh;
  top: 5vh;
  position: relative;
  font-family: roc-grotesk,sans-serif;
  font-weight: 700;
  font-style: normal;
}

a{
  position: relative;
  color: #c6b5eb;
  text-decoration: none;
}

a:hover{
  cursor: alias;
  background-color: #b442fd;
  color: #ffffff;
  border-radius: 2px;
}

.Rectangle1 {
    width: 1728px;
    height: 100px;
    left: 0px;
    top: 0px;
    position: block;
    background: white;
}

.happy {
    width: 192.20px;
    height: auto;
    left: 596.03px;
    top: 243.24px;
    position: absolute;
    transform: rotate(-7.32deg);
}

.bday {
    width: 318.26px;
    height: auto;
    left: 814.75px;
    top: 215.75px;
    position: absolute;
    transform: rotate(5.71deg);
}

.zero {
    width: 56.70px;
    height: auto;
    left: 859.63px;
    top: 130.70px;
    position: absolute;
    transform: rotate(-7.13deg);
}

.film1 {
    width: 267.07px;
    height: auto;
    left: 494.68px;
    top: 376.24px;
    position: absolute;
    transform: rotate(-8.49deg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.eightt {
    width: 54.30px;
    height: auto;
    left: 919.13px;
    top: 138.15px;
    position: absolute;
    transform: rotate(14.63deg);
}

.eight {
    width: 55.52px;
    height: auto;
    left: 1039.28px;
    top: 145.58px;
    position: absolute;
    transform: rotate(19.07deg);
}

.one {
    width: 54.69px;
    height: auto;
    left: 976.56px;
    top: 136.33px;
    position: absolute;
    transform: rotate(2.79deg);
}

.lock {
    width: 147.51px;
    height: auto;
    left: 575.46px;
    top: 115.62px;
    position: absolute;
    transform: rotate(-16.49deg);
}

.makeawish {
    width: 110px;
    height: auto;
    left: 723px;
    top: 169px;
    position: absolute;
}

.cake {
    width: 591px;
    height: auto;
    left: 566px;
    top: 221px;
    position: absolute;
}

.film2 {
    width: 255.88px;
    height: auto;
    left: 981.76px;
    top: 462.26px;
    position: absolute;
    transform: rotate(12.05deg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.makeawish:hover,
.zero:hover,
.eightt:hover,
.one:hover,
.eight:hover {
    transform: translateY(-5px); 
    transition: transform 0.2s ease;
}

@media screen and (max-width: 1100px) {
    .group {
  width: 50%;
  height: auto;
      }
    }
